{% extends 'base.html.twig' %}

{% block title %}Calendarrio{% endblock %}

{% block body %}
<div class="row m-1">
        <div class="col-md-10 my-1">

        </div>
        <div class="col-md-2 my-1">
            <div class="btn-group w-100">
                <button type="button" class="btn btn-info" id="calendarBefore"><-</button>
                <button type="button" class="btn btn-info" id="calendarToday">hoy</button>
                <button type="button" class="btn btn-info" id="calendarAfter">-></button>
            </div>
        </div>
</div>
<div id="CalendarView">

</div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('schedule') }}
{% endblock %}
