<div class="row">
    <div class="col">
        <div class="card round main-2">
            <div class="card-body">
                <h5 class="text-center">Datos generales</h5> 
                <hr class="divide-2">
                <div id="client-edit-control" class="mt-2 d-inline text-right">
                    <button id="contact-edit-active" class="btn btn-warning float-right round" active="0">Editar</button>
                </div>
               {% include "view/client/parts/contact.html.twig" %}
            </div>
        </div>
    </div>
</div>