<div class="row">
	<div class="col">
		<div class="card-2">
			<div class="card-body">
				<div id="client-edit-control" class="mt-2 d-inline text-right">
					<button id="contact-edit-active" class="btn btn-warning float-right round" active="0">Editar Contacto</button>
				</div>
				{% include "view/client/parts/contact.html.twig" %}
			</div>
		</div>
	</div>
</div>
{% include "view/footer/datetimes.html.twig" with {
    created : {
        name : contact.createdBy.name,
        time : contact.createdAt
    },
    updated : {
        name : contact.updatedBy.name,
        time : contact.updatedAt
    }
} %}
