<div class="form-group search-input" style="position: relative;">
	<div class="input-group">
		<div class="input-group-prepend">
			<div class="input-group-text round dropdown-select-input">Cliente</div>
		</div>
		<input autocomplete="off" type="text" class="form-control round dropdown-select-input" id="searchClientForm" placeholder="">
	</div>
	<span class="erase-search cursor-pointer text-muted">&times;</span>
</div>
