{% extends 'base.html.twig' %}

{% block title %}Registros{% endblock %}
{% block contTitle %}Registros{% if userEntity != null %}({{ userEntity.username }}){% endif %}{% endblock %}

{% block body %}
    <div class="w-99 mx-auto">
        <div class="m-2 row">
            <div class="col-md-3 btn-group" role="group" aria-label="log type">
                <button type="button" id="infoLogSwitch" class="btn btn-outline-success no-hover round">Info</button>
                <button type="button" id="errorLogSwitch" class="btn btn-outline-success no-hover round">Error</button>
            </div>
            <div class="col-md-6 search-input">
                <label class="sr-only" for="searchLogInput">Registro...</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text round">Buscar</div>
                    </div>
                    <input type="text" class="form-control round" id="searchLogInput" placeholder="">
                </div>
            </div>
            <div class="col-md-3">
                <select id="methodSelect" class="form-control round">
                    <option value="" selected>TODOS</option>
                    <option value="GET">GET</option>
                    <option value="POST">POST</option>
                    <option value="PUT">PUT</option>
                    <option value="PATCH">PATCH</option>
                    <option value="DELETE">DELETE</option>
                </select>
            </div>
        </div>
        {% include "view/logger/table.html.twig" %}
    </div>
    <input type="hidden" id="registerUser" value="{{ user }}">
    <div class="text-left ml-3">
        <small class="text-muted"><em>*Si tienen color son registros de sistema, no de usuario.</em></small>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('logger') }}
{% endblock %}
