<table class="table table-sm w-100 table-hover">
    {% set sort %}
    <span class="float-right sort-icon"><i class="fas fa-sort"></i></span>
    {% endset %}
    {% include "table/thead.html.twig" with {
        tr : {
            values : {
                id : {
                    value : 'Id' ~ sort,
                    attr: {
                        class: 'cursor-pointer sort-column',
                        column: 'id',
                        style: 'width: 120px !important;'
                    }
                },
                creation : {
                    value : 'Creación' ~ sort,
                    attr : {
                        class: 'cursor-pointer sort-column',
                        column: 'createdAt'
                    }
                },
                route : {
                    value : 'Ruta'
                },
                method : {
                    value : 'Método',
                    attr: {
                        style: 'width: 150px !important;'
                    }
                },
                message : {
                    value : 'Mensaje'
                },
            },
            attr : {
                class: 'table-bordered'
            }
        }
    } %}
    <tbody id="logsView">
      
    </tbody>
</table>
