<table class="table table-sm w-100 table-hover2 table-bordered2">
    {% set sort %}
        <span class="float-right sort-icon"><i class="fas fa-sort"></i></span>
    {% endset %}
    {% include "table/thead.html.twig" with {
        tr : {
            values : {
                id : {
                    value : 'Id' ~ sort,
                    attr: {
                        class: 'cursor-pointer sort-column',
                        column: 'id',
                        style: 'width: 3rem;'
                    }
                },
                creation : {
                    value : 'Creación' ~ sort,
                    attr : {
                        class: 'cursor-pointer sort-column',
                        column: 'createdAt',
                        style: 'width: 15rem;'
                    }
                },
                route : {
                    value : 'Ruta'
                },
                method : {
                    value : 'Método',
                    attr: {
                        style: 'width: 1px;'
                    }
                },
                message : {
                    value : 'Mensaje'
                },
            }
        }
    } %}
    <tbody id="logsView">

    </tbody>
</table>
