<h5 class="text-center">{{ monthName }}</h5>
<div class="calendar">
    <div class="days">
        {% for day in week %}
            <div><b>{{ day }}</b></div>
        {% endfor %}
    </div>
    <div class="schedule">
        <div class="schedule-row">
            {% for day in month %}
                {% if (loop.index - 1) % 7 == 0 %}
                </div>
                <div class="schedule-row">
            {% endif %}
            <div class="schedule-day">
                <div class="schedule-day-number">
                    <span>{{ day }}</span>
                </div>
                <div class="schedule-content">

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
