<div class="row">
	<div class="col-md-6">
		<h5 class="text-center">Día(s)</h5>
	</div>
</div>
<div class="row">
	<ul class="list-group mt-3 col-md-6" id="monthlyDaySelect" style="max-height: 400px; overflow-y: auto;">
		{% for i in 1..31 %}
			<li class="list-group-item hover cursor-pointer" day-number="{{ i }}">
				{{ i }}
			</li>
		{% endfor %}
	</ul>
</div>
