<div>
    <button class="btn btn-sm btn-primary plus-btn collapsed round" style="display: none;" id="email-extra-btn" active="0" data-toggle="collapse"
        href="#email-extra-container" role="button" aria-expanded="false"
        aria-controls="email-extra-container"></button>
    <div class="collapse" id="email-extra-container">
        <div class="alert alert-info mt-1 round">
            <form id="{{ id }}">
                {% include 'form/input.html.twig' with {
                    type : 'text',
                    ttype : 'email',
                    id: 'email',
                    label: 'Correo*',
                    placeholder: 'email@mail.com',
                    required : false,
                    error : 'Ingrese un correo válido',
                    class: 'extra-email-input'
                } %}
                <div id="submit-email-extra-btn" class="w-100 text-left">
                    <button type="submit" class="btn btn-large btn-success"
                        id="submit-email-extra-real-btn">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>