.full-cont
  width: 100%
  float: left
  .card
    box-shadow: 5px 5px 10px #888888
    transition: 1s box-shadow

  &.show
    margin-bottom: 5px

    .card
      box-shadow: 5px 5px 30px #888888
      transition: .5s box-shadow

  &.collapsing
    margin-bottom: 0
