.full-cont
  width: 100%
  float: left
  border: 1px solid rgba(0, 0, 0, 0.12)
  border-top: 0
  border-bottom-left-radius: 2rem
  border-bottom-right-radius: 2rem
  .card
    box-shadow: 5px 5px 10px #888888
    transition: 1s box-shadow

  &.show
    margin-bottom: 5px

    .card
      box-shadow: 5px 5px 30px #888888
      transition: .5s box-shadow

  &.collapsing
    margin-bottom: 0
