@media screen and (max-width: 900px) and (min-width: 300px)
  .w-50-c
    width: 100% !important

  .modal-dialog
    width: 97% !important

  .modal-header
    padding: 0 1rem !important

  .table
    display: block
    overflow-x: auto
    -webkit-overflow-scrolling: touch
