.hide-on-desktop
  display: none
.hide-on-mobile
  display: block
@media screen and (max-width: 900px) and (min-width: 300px)
  .w-50-c
    width: 100% !important

  .modal-dialog
    width: 97% !important

  .modal-header
    padding: 0 1rem !important

  .table
    display: block
    overflow-x: auto
    -webkit-overflow-scrolling: touch

  .row
    margin-left: -15px !important
    margin-right: -15px !important

  .hide-on-desktop
    display: block
  .hide-on-mobile
    display: none
