.page-item
  font-weight: 600

  &.disabled
    .page-link
      color: #797979
      border: 1px solid #9abcc1

  .page-link
    background-color: #efefff !important
    color: black
    border: 1px solid #9abcc1

    &:hover
      color: #3c5cab

.table-paginator
  background-color: inherit !important
  border: 0 !important
  th, td
    border: 0 !important

  &:hover
    background-color: inherit !important
