$toast-text: #505050
$toast-success: #9ccc65a1
$toast-danger: #ff4444a1

.toast
    &.toast-res
        min-width: 500px
        padding: 0rem 0rem
    
#toastCont
    z-index: 2000
    position: fixed
    top: 50px
    right: 2px

.toast-success
    background-color: $toast-success !important
    color: $toast-text !important

.toast-error
    background-color: $toast-danger !important
    color: $toast-text !important

@media screen and (max-width: 900px) and (min-width: 300px)
    .toast
        &.toast-res
            min-width: 300px
