<div class="row w-99 mt-lg-5 mx-auto">
    {# boards de ejemplo #}
    {% if is_granted("ROLE_ADMIN") %}
    <div class="col">
        {% include "view/home/boards/lastClients.html.twig" %}
    </div>
    {% endif %}
    <div class="col">
        <div class="card">
            <div class="card-body board">
                Hola
                <hr>
                <div class="bg-info" style="height: 200px;">
                    x
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body board">
                Hola
                <hr>
                <div class="bg-secondary" style="height: 200px;">
                    x
                </div>
            </div>
        </div>
    </div>
    {# . #}
</div>
<div class="row w-99 mt-lg-5 mx-auto">
    <div class="col">
        <div class="card">
            <div class="card-body board">
                Hola
                <hr>
                <div class="bg-warning" style="height: 200px;">
                    x
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body board">
                Hola
                <hr>
                <div class="bg-success" style="height: 200px;">
                    x
                </div>
            </div>
        </div>
    </div>
</div>
{% if is_granted("ROLE_GOD") %}
    <div class="row w-99 mt-lg-5 mx-auto">
        <div class="col">
            {% include "view/home/boards/infoLog.html.twig" %}
        </div>
        <div class="col">
            {% include "view/home/boards/errorLog.html.twig" %}
        </div>
    </div>
{% endif %}