<h5 class="text-center">{{ monthName }}</h5>
<div class="calendar">
    <div class="days">
    <div>
        <b>{{ day.name }}</b>
        <br>
        <small {% if ("now"|date("d-m-Y")) == day.date %}class="today"{% endif %}>{{ day.day }}</small>
    </div>
    </div>
    <div class="days-list">
        <div class="day">
            {% for event in day.events %}
                {% include 'view/schedule/event.html.twig' %}
            {% endfor %}
        </div>
    </div>
</div>
