<table class="table table-sm table-striped w-100 table-hover">
    {% set sort %}
        <span class="float-right sort-icon"><i class="fas fa-sort"></i></span>
    {% endset %}
    {# impersonator #}
    {% set extra = {
        value : '',
        attr : {
            class: 'd-none'
        }
    } %}
    {% if is_granted("ROLE_ALLOWED_TO_SWITCH") %}
        {% set extra = {
            value : '<i class="fas fa-user-tie"></i>',
            attr : {
                class : 'text-center',
                style : 'width: 50px !important;'
            }
        } %}
    {% endif %}
    {# . #}
    {% include "table/thead.html.twig" with {
        tr : {
            values : {
                id : {
                    value : 'Id' ~ sort,
                    attr : {
                        class: 'cursor-pointer sort-column',
                        column: 'id',
                        style: 'width: 120px !important;'
                    }
                },
                username : {
                    value : 'Usuario' ~ sort,
                    attr : {
                        class: 'cursor-pointer sort-column',
                        column: 'username',
                    }
                },
                name : {
                    value : 'Nombre' ~ sort,
                    attr : {
                        class: 'cursor-pointer sort-column',
                        column: 'name',
                    }
                },
                roles : {
                    value : 'Puesto'
                },
                email : {
                    value : 'Email'
                },
                key : {
                    value : '<i class="fas fa-key"></i>',
                    attr : {
                        class : 'text-center',
                        width : '50px'
                    }
                },
                delete : {
                    value : '<i class="fas fa-trash-alt"></i>',
                    attr : {
                        class : 'text-center',
                        width : '50px'
                    }
                },
                extra : extra
            },
            attr : {
                class: 'table-bordered'
            }
        }
    } %}
    <tbody id="usersView"></tbody>
</table>
