<table class="table table-sm table-striped2 w-100 table-hover2 table-bordered2">
    {% set sort %}
        <span class="float-right sort-icon hide-on-mobile"><i class="fas fa-sort"></i></span>
    {% endset %}
    {# Developer-> #}
    {% set extra = {
        value : '',
        attr : {
            class: 'd-none'
        }
    } %}
    {% set logger = {
        value : '',
        attr : {
            class: 'd-none'
        }
    } %}
    {% if is_granted("ROLE_ALLOWED_TO_SWITCH") %}
        {% set extra = {
            value : '<i class="fas fa-user-tie mobile-2-desktop-1"></i>',
            attr : {
                class : 'text-center border-right-0 border-left-0 icon-col',
            }
        } %}
    {% endif %}
    {% if is_granted("ROLE_GOD") %}
        {% set logger = {
            value : '<i class="fas fa-book mobile-2-desktop-1"></i>',
            attr : {
                class: 'text-center border-right-0 border-left-0 icon-col',
            }
        } %}
    {% endif %}
    {# <-Developer #}
    {# Sort column solo en desktop #}
    {% set sortClass = 'cursor-pointer sort-column' %}
    {% if isMobile %}
        {% set sortClass = '' %}
    {% endif %}
    {# . #}
    {% include "table/thead.html.twig" with {
        tr : {
            values : {
                id : {
                    value : 'Id' ~ sort,
                    attr : {
                        class: sortClass,
                        column: 'id',
                        style: 'width: 120px !important;'
                    }
                },
                username : {
                    value : 'Usuario' ~ sort,
                    attr : {
                        class: sortClass,
                        column: 'username',
                    }
                },
                name : {
                    value : 'Nombre' ~ sort,
                    attr : {
                        class: sortClass,
                        column: 'name',
                    }
                },
                roles : {
                    value : 'Puesto',
                    attr : {
                        width: '1px'
                    }
                },
                email : {
                    value : 'Email',
                },
                key : {
                    value : '<i class="fas fa-key mobile-2-desktop-1"></i>',
                    attr : {
                        class : 'text-center border-right-0 border-left-0 icon-col',
                    }
                },
                extra : extra,
                logger: logger,
                delete : {
                    value : '<i class="fas fa-trash-alt mobile-2-desktop-1"></i>',
                    attr : {
                        class : 'text-center border-right-0 border-left-0 icon-col',
                    }
                }
            },
        }
    } %}
    <tbody id="usersView"></tbody>
</table>
