{% extends 'base.html.twig' %}

{% block title %}Categorías para clientes{% endblock %}
{% block contTitle %}C. para clientes{% endblock %}

{% block body %}
    <div class="w-99 mx-auto">
        <div class="m-1 row">
            <div class="col-md-3 m-1">
                <button class="btn btn-primary w-100 round" id="client-category-add">Agregar categoría</button>
            </div>
            <div class="col-md-6 search-input m-1">
                <label class="sr-only" for="searchCategoryInput">Categoría...</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text round">Buscar</div>
                    </div>
                    <input type="text" class="form-control round" id="searchCategoryInput" placeholder="">
                </div><span class="erase-search cursor-pointer text-muted">&times;</span>
            </div>
        </div>
    </div>
    {% include "view/client_category/table.html.twig" %}
{% endblock %}
{% block javascripts %}
{{ encore_entry_script_tags('clientCategory') }}
{% endblock %}
