{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
	<div class="w-50-c mx-auto mt-5">
		<div class="card border-0 text-center">
			<div class="card-body">
				<h4>404</h4>
				<hr>
				No se ha encontrado la página que buscabas
				<br>
			</div>
		</div>
	</div>
{% endblock %}
