{# templates/bundles/TwigBundle/Exception/error500.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <div class="w-50-c mx-auto mt-5">
        <div class="card border-0 text-center">
            <div class="card-body">
                <h4>403</h4>
                <hr>
                Permiso denegado
            </div>
        </div>
    </div>
{% endblock %}
