<form id="scheduleCategoryForm">
	{% include 'form/input.html.twig' with {
        type : 'text',
        id: 'name',
        label: 'Nombre',
        placeholder: 'Nombre',
        required : true,
        error : 'Ingrese un nombre para la categoría'
    } %}
	<div class="form-group">
		<textarea class="form-control" rows="5" id="description" name="description" placeholder="Descripción"></textarea>
	</div>
	<div class="form-group d-flex justify-content-between">
		<b class="text-muted font-italic">Color de fondo:&nbsp;</b><input type="color" id="bColor" name="bColor" value="#eee7e7"><span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
	<div class="form-group d-flex justify-content-between">
		<b class="text-muted font-italic">Color de texto:&nbsp;&nbsp;</b><input type="color" id="tColor" name="tColor" value="#000000"><span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
	<div id="submit-btn" class="w-100 text-left">
		<button type="submit" class="btn btn-large btn-antxony round w-100" id="submit-real-btn">Agregar</button>
	</div>
</form>
