{% extends 'base.html.twig' %}

{% block title %}Calendarrio{% endblock %}

{% block body %}
<div id="CalendarView">

</div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('calendar') }}
{% endblock %}
