<div class="form-group" style="position: relative;">
	<input type="text" t-type="text" name="taskDate" class="form-control required datepicker cursor-pointer" id="taskDate" aria-describedby="taskDateHelp" placeholder="Fecha" error-msg="Seleccione una fecha y hora" value="" readonly>
</div>
